In [1]:
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd

es = gpd.read_file('./material/pnt_agg_10km_es.gpkg')
de = gpd.read_file('./material/pnt_agg_10km_de.gpkg')

es['nuts0'] = 'ES'
de['nuts0'] = 'DE'

import pandas as pd
pnt = pd.concat([es,de])
pnt = pnt.reset_index(drop=True)

pnt = pnt.to_crs("EPSG:4326")
pnt.to_file('./material/pnt_agg_10km.gpkg')

ERROR 1: PROJ: proj_create_from_database: Open of /opt/conda/share/proj failed

In [10]:
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas as gpd
import sys
import pathlib
import os
from skmap.catalog import DataCatalog
from skmap.loader import TiledDataLoader
from skmap.overlay import SpaceOverlay, SpaceTimeOverlay
from skmap.misc import find_files, GoogleSheet, ttprint
from osgeo.gdal import BuildVRT, SetConfigOption
import random
import pandas as pd
import time
import skmap_bindings as sb
import numpy as np
from shapely.geometry import Point
from geopandas import gpd 

version = 'v20250301'
pnt = gpd.read_file('./material/pnt_agg_10km.gpkg')

base_path = [f'http://192.168.49.{gaia_id}:8333' for gaia_id in range(30,47)]
GDAL_OPTS = {'GDAL_HTTP_VERSION': '1.0', 'CPL_VSIL_CURL_ALLOWED_EXTENSIONS': '.tif'}
max_ram_mb = 750000
n_threads = 96

# read in gsheet
gsheet_key = '/mnt/apollo/stac/gaia-319808-913d36b5fca4.json'
gsheet_url = 'https://docs.google.com/spreadsheets/d/1lNTpzdHBG5dirYj46iBDRJMk_YAV0Um2ovBc8v3dR9w/edit?gid=78425683#gid=78425683'
gsheet = GoogleSheet(gsheet_key, gsheet_url, verbose=False)

# create catalog
catalog = DataCatalog.create_catalog(catalog_def=gsheet.soc_change_snr, years=years, base_path=base_path)
# catalog.save_json('soil.prop_eu.json')

## ____________________test____________________________-

start = time.time()
space_overlay = SpaceTimeOverlay(
        col_date='time',
        points=pnt, 
        catalog=catalog,
        raster_tiles='./ard2_final_status.gpkg',
        verbose=True,
        n_threads=n_threads,
        tile_id_col='TILE')

print(f"Extraction of overlay meta-data: {(time.time() - start):.2f} s")

,point_id,polygon_id,left,top,right,bottom,geometry,nuts0
0,0,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3147496.302 1906213.979),ES
1,1,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3147151.821 1907349.036),ES
2,2,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3141499.189 1908257.888),ES
3,3,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3149117.231 1901145.955),ES
4,4,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3141782.739 1907451.246),ES
...,...,...,...,...,...,...,...,...
59995,29995,3,4470000.0,3361000.0,4480000.0,3351000.0,POINT (4472406.292 3359279.175),DE
59996,29996,3,4470000.0,3361000.0,4480000.0,3351000.0,POINT (4472155.563 3359800.681),DE
59997,29997,3,4470000.0,3361000.0,4480000.0,3351000.0,POINT (4477093.450 3353012.492),DE
59998,29998,3,4470000.0,3361000.0,4480000.0,3351000.0,POINT (4476270.534 3359462.442),DE
59999,29999,3,4470000.0,3361000.0,4480000.0,3351000.0,POINT (4476662.489 3355205.969),DE

In [3]:
es

,point_id,polygon_id,left,top,right,bottom,geometry,nuts0
0,0,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3147496.302 1906213.979),ES
1,1,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3147151.821 1907349.036),ES
2,2,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3141499.189 1908257.888),ES
3,3,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3149117.231 1901145.955),ES
4,4,1,3140000.0,1911000.0,3150000.0,1901000.0,POINT (3141782.739 1907451.246),ES
...,...,...,...,...,...,...,...,...
29995,29995,3,3190000.0,1951000.0,3200000.0,1941000.0,POINT (3196786.965 1943815.008),ES
29996,29996,3,3190000.0,1951000.0,3200000.0,1941000.0,POINT (3194605.728 1941563.819),ES
29997,29997,3,3190000.0,1951000.0,3200000.0,1941000.0,POINT (3191643.364 1942548.404),ES
29998,29998,3,3190000.0,1951000.0,3200000.0,1941000.0,POINT (3192785.132 1945664.564),ES
29999,29999,3,3190000.0,1951000.0,3200000.0,1941000.0,POINT (3198511.980 1941191.240),ES